# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AdamT\OneDrive - Slovenská technická univerzita v Bratislave\FEI\3. LS 2021\WEBTE2\WEBTE2_zad5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
